html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:root {
    --main-color: #eee;
    --second-color: #B4D455;
}
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, p {
    margin: 0;
}

/* main */
body {
    display: flex;
    justify-content: center;
}
main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.main-title {
    height: 20vh;
    font-size: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
}

/* card container */
.card-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
    background-color: var(--main-color);
}
.card {
    padding: 1.5rem 1.2rem;
    background-color: var(--second-color);
    border-radius: 1rem;
}
.book-title {
    text-align: center;
    padding-bottom: 1rem;
}
.card span {
    font-weight: 700;
}